<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Search Engine</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/main.css" />
    <link rel="stylesheet" type="text/css" media="screen" href="/stylesheets/admin.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>
<body>
    <div id="root" style="height:100%;">
      <div id='main-container'>
          <h3 id='main-title'>Welcome to the Search Engine</h3>
          <div id="panelCont" style="height:92%;">
            <div id="leftPanel">
              <h3 class='loggedTitle'>Welcome back <span style="color:red">{{username}}</span></h3>
              <br>
              <br>
              <form action="/upload" method="post" enctype="multipart/form-data">
                <label for="file">Select file</label>
                <input type="file" name="file" value="Upload File" id="file" title="Select a file" style="color:transparent" onchange="this.style.color = 'red'" required>
                <label for="tags">Tags</label>
                <input type="text" name="tags" id="tags" required>
                <input type="submit" value="Upload">
              </form>
              {{#if isUpdate}}
              <a href="/admin" id='adminNav'>ADMIN HOME</a>
              {{/if}}
              <form action="/logout" method="post">
                <input type="submit" name="submit" value="LOG OUT" id='logoutBtn'>
              </form>
            </div>
            <div id="rightPanel">
              {{#unless isUpdate}}
              <table id="admin-table">
                <th>Name</th>
                <th>Path</th>
                <th>Tags</th>
                <th>Delete</th>
                <th>Update</th>
                {{#each data}}
                <tr>
                  <td>{{originalname}}</td>
                  <td>{{path}}</td>
                  <td>
                    {{#each tags}}
                    {{this}},
                    {{/each}}
                  </td>
                  <td><a href="delete/{{_id}}">Delete</a></td>
                  <td><a href="update/{{_id}}">Update</a></td>
                </tr>
                {{/each}}
              </table>
              {{/unless}}
              {{#if isUpdate}}
              <table id="admin-table">
                <th>Name</th>
                <th>Path</th>
                <th>Tags</th>
                <th>Size</th>
                <th>uploadedAt</th>
                <tr>
                  <td>{{data.originalname}}</td>
                  <td>{{data.path}}</td>
                  <td>
                    {{#each data.tags}}
                    {{this}},
                    {{/each}}
                  </td>
                  <td>{{data.size}}</td>
                  <td>{{data.uploadedAt}}</td>
                </tr>
              </table>
              <form action="/update/{{data._id}}" method="post">
                <label for="updateTags">Update Tags</label>
                <input type="text" id="updateTags" value="{{data.tags}}" name="tags">
                <input type="submit" value="Update">
              </form>
              {{/if}}
            </div>
          </div>
      </div>
    </div>
</body>
<script type="text/javascript">

</script>
</html>
